/* desktop css file */

/* Google Font for title */
@import url(http://fonts.googleapis.com/css?family=Neuton:400,700);

html, body, div, p, img {
  margin:0px;
  padding:0px;
}

html {
  height:100%;
  width: 100%;
}

body {
  background-color: #FFFFFF;
  font-family:'Neuton', serif;
  height:100%;
  width: 100%;
  overflow:hidden;
}

#top {
  background-color:#225b66;
}

#title {
  background-color:#FFFFFF;
}

#titleInside {
  width: 1024px;
  margin: auto;
}

#name {
  height: 100%;
  width: 512px;
  display: inline-block;
  font-size: 85px;
  position:relative;
}

#menu {
  width: 508px;
  margin:0;
  display: inline-block;
  position: relative;
  text-align: right;
  font-size: 35px;
  word-spacing: 30px;
}

#bioLink:hover, #projectsLink:hover {
  text-decoration: underline;
}

#bgmiddle {
  background-color: rgba(23,163,165, 0.55);
}

#bioBox {
  width: 1024px;
  margin: auto;
}

.bio {
  display: inline-block;
  vertical-align:top;
  width: 501px;
  font-size: 25px;
}

#me {
  height: auto;
  width: 300px;
  position:relative;
  left: 15%;
  margin: auto;
}

#right {
  text-align: left;
  font-size: 22px;
}

#inside{
  position: relative;
}

#bottom {
  text-align:center;
  background-color: #e85248;
}

#insideBottom{
  width: 1024px;
  margin: auto;
}

.floater {
  height:35px;
}

#facebook, #twitter, #linkedin, #email {
  margin: auto;
  color:#FFFFFF;
  width:24.5%;
  font-size: 16px;
  display:inline-block;
}

#facebook > img, #twitter > img , #linkedin > img , #email > img{
  height: 50px;
  width: 50px;
}

a:link, a:visited, a:active {
  color: #FFFFFF;
  text-decoration:none;
}

a:hover {
  color: #FFFFFF;
  text-decoration:underline;
}
