/* css file of index.html */

/* Google Font for title */
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300italic);

body {
    background-color:#FFFFFF;
    margin: 0px;
    padding: 0px;
    font-family: serif;
}

#top {
    height:1%;
    margin:0px;
    background-color:#225b66;
}

#title {
    height: 17%;
    margin: 0px;
    background-color:#FFFFFF;
    padding-top: 20px; 
    padding-left: 40px;
}

#name{
    font-family:'Josefin Slab', serif;
    font-size: 40px;
    margin: 0px;
    width:100%;
}

#shbio {
    margin: 0px;
}

#bio {
    height:67%;
    margin:0px;
    background-color: rgba(23,163,165, 0.7);
}

#bottom {
    height:15%;
    margin: 0px;
    background-color: #e85248;
}

#facebook, #twitter, #linkedin {
    display:inline-block;
}

#facebook > img, #twitter > img , #linkedin > img {
    height: 50px;
    width: 50px;
}

#facebook > div, #twitter > div, #linkedin > div{
    display:inline-block;
    height: 100%;
    vertical-align:middle;
}
