/* css file of index.html */

/* Google Font for title */
@import url(http://fonts.googleapis.com/css?family=Neuton:400,700);

html, body, div, p, img {
    margin:0px;
    padding:0px;
}

html {
  height:100%;
  width: 100%;
}

body {
    background-color: #FFFFFF;
    font-family:'Neuton', serif;
    height:100%;
    width: 100%;
    overflow:hidden;
}

#top {
    background-color:#225b66;
}

#title {
    background-color:#FFFFFF;
    padding:0px;
}

#titleInside {
    margin: auto;
}

#name {
    height: 100%;
    display: inline-block;
    font-size: 5em;
    line-height: 1.2em;
}

#menu {
    margin:0;
    display: inline-block;
    text-align: right;
    font-size: 35px;
    word-spacing: 30px;
}

#bioLink:hover, #projectsLink:hover {
    text-decoration: underline;
}

#bgmiddle {
    background-color: rgba(23,163,165, 0.55);
}

#bioBox {
    margin: auto;
}

.bio {
    display: inline-block;
    vertical-align:top;
    font-size: 25px;
}

#me {
    /*height:80%;
    width:80%;*/
    height: auto;
    width: auto;
    position:relative;
    left: 15%;
    margin: auto;
}

#right {
    text-align: left;
}

#inside{
  position:relative;
}

#bottom {
    text-align:center;
    background-color: #e85248;
}

#floater {
  height:5px;
}

#facebook, #twitter, #linkedin, #email {
    margin: auto;
    color:#FFFFFF;
    width:24.5%;
    display:inline-block;
}

#facebook > img, #twitter > img , #linkedin > img , #email > img{
    height: 60px;
    width: 60px;
}

a:link, a:visited, a:active {
    color: #FFFFFF;
    text-decoration:none;
}

a:hover {
    color: #FFFFFF;
    text-decoration:underline;
}

#email {
    font-size: 0.8em;
}
